.assort-summer2022{
  overflow: hidden;
  padding: 70px 0;
  background-color: #EBB6BC;
  font-family: 'Montserrat Alternates', sans-serif;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    top: 303px;
    left:0;
    background-image: url("../img/decor-dots-2.png");
    width: 181px;
    height: 448px;
  }
  &__body{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;
    &--variant1{
      background-color: #fff;
      position: relative;
      margin: 0;
      &:after{
        content: '';
        position: absolute;
        top: 0;
        right: -100%;
        background-color: #fff;
        width: 100%;
        height: 100%;
      }
      .decor{
        display: none;
      }
    }
    &--variant2{
      background-color: #6FDCE7;
      position: relative;
      color: #fff;
      margin-bottom: 0;
      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        background-color: #6FDCE7;
        width: 100%;
        height: 100%;
      }
      &:after{
        content: '';
        position: absolute;
        top: 0;
        right: -100%;
        background-color: #6FDCE7;
        width: 100%;
        height: 100%;
      }
      .decor{display: none}
    }
    &--variant3{
      background-color: #6FDCE7;
      position: relative;
      color: #fff;
      margin-bottom: 0;
      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        background-color: #fff;
        width: 100%;
        height: 100%;
      }
      &:after{
        content: '';
        position: absolute;
        top: 0;
        right: -100%;
        background-color: #6FDCE7;
        width: 100%;
        height: 100%;
      }
      .assort-summer2022__item--color2{
        .assort-summer2022__name{
          color: #EBB6BC;
        }
      }
      .decor{
       display: none;
      }
    }
    &--variant4{
      background-color: #B6DAAD;
      position: relative;
      color: #fff;
      margin-bottom: 0;
      align-items: center;
      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        background-color: #fff;
        width: 100%;
        height: 100%;
      }
      &:after{
        content: '';
        position: absolute;
        top: 0;
        right: -100%;
        background-color: #B6DAAD;
        width: 100%;
        height: 100%;
      }
      .assort-summer2022__item--color2 .assort-summer2022__name{
        color: #B6DAAD;
      }
    }
    &--variant5{
      background-color: #B6DAAD;
      position: relative;
      color: #fff;
      margin-bottom: 0;
      padding-bottom: 74px;
      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        background-color: #B6DAAD;
        width: 100%;
        height: 100%;
      }
      &:after{
        content: '';
        position: absolute;
        top: 0;
        right: -100%;
        background-color: #B6DAAD;
        width: 100%;
        height: 100%;
      }
      .decor{
        display: none;
      }
    }
  }
  &__item{
    display: block;
    text-decoration: none;
    text-align: center;
    flex: 1 0 272px;
    padding: 38px 10px;
    z-index: 1;
    &:hover{
      opacity: .9;
    }
    &--color1{
      background-color: #EBB6BC;
    }
    &--color2{
      background-color: #fff;
    }
  }
  &__img{
    margin: 0 auto 33px;
    img{
      display: block;
      margin: 0 auto;
    }
  }
  &__name{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: lowercase;
    color: #000000;
    height: 48px;
    max-width: 180px;
    margin: 0 auto;
    &--color1{
      color: #6FDCE7;
    }
    &--color2{
      color: #fff;
    }
  }
  .container{
    max-width: 906px;
  }
  .h2{
    color: #FFFFFF;
    margin-bottom: 56px;
  }
  .decor{
    position: absolute;
    top: -195px;
    left: 50%;
    transform: translate(-50%,0);
    background-image: url("../img/decor-dots-circle.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    width: 100vw;
    height: 390px;
    z-index: 10;
    pointer-events: none;
  }
  .decor2{
    position: absolute;
    top: -58px;
    left: 50%;
    transform: translate(-50%,0);
    background-image: url("../img/decor-dot.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 123px 360px;
    width: 100vw;
    height: 360px;
    z-index: 10;
    pointer-events: none;
  }
  @include r(767){
    padding: 50px 0 0;
    &:before{
      content: '';
      position: absolute;
      top: 270px;
      left: -36px;
      background-image: url("../img/decor-dots-2.png");
      background-size: 100%;
      width: 114px;
      height: 290px;
    }
    &__body{
      display: block;
      &--variant1{
        margin: 0;
        &:after{
          right: -16px;
          width: calc(100% + 32px);
        }
        .assort-summer2022__item--color1{
          background-color: #fff;
        }
        .assort-summer2022__name--color2{
          color: #6FDCE7;
        }
        .decor{
          position: absolute;
          top: 50%;
          left: -70px;
          transform: translate(0, -50%);
          background-image: url("../img/decor-dots-circle.png");
          background-repeat: no-repeat;
          background-position: left;
          background-size: contain;
          width: 115px;
          height: 390px;
          z-index: 10;
          display: block;
          pointer-events: none;
        }
      }
      &--variant2{
        background-color: #6FDCE7;
        position: relative;
        color: #fff;
        margin-bottom: 0;
        &:before{
          content: '';
          position: absolute;
          top: 0;
          left: -100%;
          background-color: #6FDCE7;
          width: 100%;
          height: 100%;
        }
        &:after{
          content: '';
          position: absolute;
          top: 0;
          right: -100%;
          background-color: #6FDCE7;
          width: 100%;
          height: 100%;
        }
        .decor{
          position: absolute;
          top: auto;
          left: auto;
          transform: translate(0,0);
          bottom: -120px;
          right: -73px;
          background-image: url(../img/decor-dots-2.png);
          background-size: 100%;
          width: 114px;
          height: 290px;
          display: block;
        }
      }
      &--variant3{
        background-color: #6FDCE7;
        position: relative;
        color: #fff;
        margin-bottom: 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        &:before{
          content: '';
          position: absolute;
          top: calc(50% - 4px);
          left: -16px;
          background-color: #fff;
          width: calc(100% + 32px);
          height: calc(100% + 15px);
          z-index: 1;
        }
        &:after{
          content: '';
          position: absolute;
          top: 0;
          right: -16px;
          background-color: #6FDCE7;
          width: calc(100% + 32px);
          height: 100%;
        }
        .assort-summer2022__name{
          color: #fff;
        }
        .decor{
          background-size: 100%;
          width: 115px;
          left: -60px;
          top: 142px;
          transform: translate(0,0);
          display: block;
        }

      }
      &--variant4{
        background-color: #B6DAAD;
        position: relative;
        color: #fff;
        margin-bottom: 0;
        align-items: center;
        &:before{
          content: '';
          position: absolute;
          top: 0;
          left: -16;
          background-color: #B6DAAD;
          width: 100%;
          height: 100%;
        }
        &:after{
          content: '';
          position: absolute;
          top: 0;
          right: -100%;
          background-color: #B6DAAD;
          width: 100%;
          height: 100%;
        }
        .assort-summer2022__name{
          color: #fff;
        }
        .assort-summer2022__item--color2{
          .assort-summer2022__name{
            color: #B6DAAD;
          }
        }
        .decor{
          background-size: 100%;
          width: 100px;
          left: 0;
          top: 0;
          transform: translate(0,0);
          display: none;
        }
      }
      &--variant5{
        background-color: #B6DAAD;
        position: relative;
        color: #fff;
        margin-bottom: 0;
        padding-bottom: 74px;
        &:before{
          content: '';
          position: absolute;
          top: 0;
          left: -100%;
          background-color: #B6DAAD;
          width: 100%;
          height: 100%;
        }
        &:after{
          content: '';
          position: absolute;
          top: 0;
          right: -100%;
          background-color: #B6DAAD;
          width: 100%;
          height: 100%;
        }
        .decor{
          position: absolute;
          top: 50%;
          transform: translate(0,-50%);
          left: -53px;
          background-image: url(../img/decor-dots-2.png);
          background-size: 100%;
          width: 114px;
          height: 290px;
          display: block;
        }
      }
    }
    &__item{
      position: relative;
      padding: 18px 10px;
      max-width: 223px;
      margin-left: auto;
      margin-right: auto;
    }
    &__img{
      margin-bottom: 10px;
    }
    .h2{
      margin-bottom: 18px;
    }
  }
}