.brand-summer2022{
  background-color: #EBB6BC;
  padding: 72px 0 109px;
  overflow: hidden;
  &__body{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    &:after{
      content: '';
      position: absolute;
      bottom: -200px;
      right: -150px;
      background-image: url("../img/decor-dots.png");
      background-repeat: no-repeat;
      background-size: 100%;
      width: 361px;
      height: 258px;
    }
  }
  &__item{
  }
  .h2{
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 31px;
    a{
      text-decoration: none;
      color: inherit;
    }
  }
  @include r(767){
    padding: 50px 0 74px;
    &__body {
      justify-content: center;
    }
  }
}