.slider-summer2022{
  position: relative;
  background-color: #EBB6BC;
  &__decor{
    position: absolute;
    bottom: -160px;
    left: 0;
    background-image: url("../img/decor-dots-circle.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 114px;
    height: 305px;
    z-index: 10;
    pointer-events: none;
  }
  &__item{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    position: relative;
    &--variant1{
      .slider-summer2022__img{
          background-color: #EBB6BC;
      }
      .slider-summer2022__content{
          background-color: #6FDCE7;
      }
      .slider-summer2022__name{
        font-size: 64px;
        line-height: 77px;
      }
    }
    &--variant2{
      .slider-summer2022__img{
        background-color: #6FDCE7;
      }
      .slider-summer2022__content{
        background-color: #B6DAAD;
      }
    }
  }
  &__img{
    flex: 1 0 60%;
    background-color: #B6DAAD;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-right: 18px solid #fff;
    border-bottom: 18px solid #fff;
    position: relative;
    &--decor{
      width: 507px;
      &:before{
        content: '';
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translate(-10%,0);
        background-image: url("../img/slider-decor.png");
        background-position: top right;
        background-repeat: no-repeat;
        width: 1157px;
        height: 498px;
      }

    }

    img{
      display: block;
      object-fit: contain;
      height: auto;
      position: relative;
      z-index: 1;
    }
  }
  &__content{
    flex: 1 0 40%;
    background-color: #EBB6BC;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 250px;
  }
  &__name{
    font-family: $font1;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 89px;
    color: #FFFFFF;
    text-shadow: 5px 5px #000;

  }
  &__btn{
    width: fit-content;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: lowercase;
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #000000;
    padding: 28px 34px;
    text-decoration: none;
    display: block;
    text-align: center;
    &:hover{
      opacity: .9;
    }
  }
  &__sun{
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../img/slider-sun.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 190px;
    height: 157px;
  }
  .swiper-slide{
    height: auto;
  }
  .swiper-pagination{
    position: absolute;
    bottom: 20%;
    right: 20%;
    &-bullet{
      background-color: #000000;
      border: 1px solid #fff;
      width: 16px;
      height: 16px;
      margin: 0 22px;
      opacity: 1;
      &-active{
        background-color: #fff;
        border: 1px solid #000;
      }
    }
  }
  @include r(1023){
    &__item{

      &--variant1{
        .slider-summer2022__name{
          font-size: 40px;
          line-height: 57px;
        }
      }
    }
    &__img{
      flex: 1 0 100%;
      height: 338px;
      padding: 40px;
      border-right: none;
      border-bottom: 13px solid #fff;
      &--decor{
        width: 507px;
        &:before{

          background-image: url("../img/slider-decor.png");
          background-size: 100%;
          width: 592px;
          height: 162px;
        }

      }
      img{
        height: 100%;
      }
    }
    &__content{
      flex: 1 0 100%;
      padding: 40px 20px 74px;
      text-align: center;
    }
    &__name{
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 20px;

    }
    &__btn{
      margin: 0 auto;
      font-size: 16px;
      line-height: 20px;
      padding: 18px 30px;
    }
    .swiper-pagination{
      position: absolute;
      bottom: 35px;
      right: auto;
      left: 50%;
      transform: translate(-50%,0);
    }
  }
}