.spec-summer2022{
  background-color: #6FDCE7;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  padding: 78px 0;
  position: relative;

  &__body{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      top: -120px;
      right: -30px;
      background-image: url("../img/decor-dots.png");
      background-repeat: no-repeat;
      background-size: 100%;
      width: 361px;
      height: 258px;
    }
  }
  &__item{
    flex: 1 0 308px;
    max-width: 308px;
    color: #FFFFFF;
    background-color: #B6DAAD;
    height: 259px;
    padding: 25px;
    display: block;
    text-decoration: none;
    text-align: center;
    position: relative;
    z-index: 1;
    &:hover{
      opacity: .9;
      box-shadow: 0 0 50px 5px rgba(0,0,0,0.3);
    }
    &:nth-child(2n){
      background-color: #fff;
      color: #EBB6BC;
    }
    &:nth-child(3n){
      background-color: #EBB6BC;
    }
  }
  &__icon{
    text-align: center;
    margin-bottom: 30px;
    img{
      display: block;
      margin: 0 auto;
    }
  }
  &__name{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: lowercase;
    b{
      font-weight: 900;
    }
  }
  @include r(767){
    &__body{
      &:after{
       display: none;
      }
    }
  }
}